<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/home" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="/about" class="nav-link px-2 link-dark">О нас</a></li>
                <li><a href="/profile" class="nav-link px-2 link-dark">Профиль</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout" class="nav-link px-2 link-dark">Выйти</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/login" class="nav-link px-2 link-dark">Войти</a></li>
            </ul>
        </header>
    </div>
</div>
</html>